<nav class="navbar navbar-light bg-primary">
    <div class="container">
        <h1>Angular Clud</h1>
    </div>
    <div class="d-flex mr-2">
        <button type="button" (click)="clickAddEmployee()" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Employee</button>&nbsp;&nbsp;
        <button routerLink="/login" class="btn btn-danger">Logout</button>
    </div>
</nav>

<div class="p-5 mb-4 bg-light rounded">
    <div class="container-fluid py-y">
        <h1 class="display-5 fw-bold">Employee Management System</h1>
        <p class="col-md-8 fs-4">You can save Employee Record</p>
        <a class="btn btn-primary btn-lg" type="button" href="https://fontawesome.com/v5.15/icons/plug?style=solid/">Fordsoft</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Mobile Number</th>
            <th>salary</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employeeData">
            <td>{{data.id}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.salary}}</td>
            <td>
                <button (click)="onEdit(data)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>&nbsp;&nbsp;
                <button (click)="deleteEmploye(data)" class="btn btn-danger">Delete</button>

            </td>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formvalue">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email ID</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mobile Number</label>
                        <input type="number" formControlName="mobile" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Salary</label>
                        <input type="number" formControlName="salary" class="form-control" id="exampleInputPassword1">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="clear" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" *ngIf="showAdd" (click)=" postEmployeeDetails()" class="btn btn-primary">Add</button>
                <button type="button" *ngIf="showupdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>

            </div>
        </div>
    </div>
</div>